@{
    ViewData["Title"] = "Dog Speak";
}

<div class="text-center">
	<h1 class="display-4">Commands</h1><br /><br />
	<a asp-area="" asp-controller="Home" asp-action="LetsGoForAWalk">Let's go for a walk</a><br />
	<a asp-area="" asp-controller="Home" asp-action="ImHungry">I'm hungry</a><br />
	<a asp-area="" asp-controller="Home" asp-action="ImThirsty">I'm thirsty</a><br />
	<a asp-area="" asp-controller="Home" asp-action="IWantToPlay">I want to play</a><br />
	<a asp-area="" asp-controller="Home" asp-action="INeedToPee">I need to pee</a><br />
	<a asp-area="" asp-controller="Home" asp-action="INeedToPoop">I need to poop</a><br />
	<a asp-area="" asp-controller="Home" asp-action="INeedCare">I need care</a><br />
	<a asp-area="" asp-controller="Home" asp-action="SleepyDog">Sleepy dog</a><br />
</div>
